body {
    text-align:center;
    font-family: sans-serif;
}

.title, .header {
    color: white
}

.title {
    font-size: 40px;
    background-color: purple;
}

.header  {
    background-color:darkgoldenrod;
}

.image {
    width: 500px;
    height: auto;
}

#link {
    font-weight: bold;
    font-size: 15px;
}